<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Bundle\Helper\Catalog\Product\Configuration"
                type="Crealevant\Bundle\Helper\Catalog\Product\Configuration"/>
    <preference for="Magento\Bundle\Block\Sales\Order\Items\Renderer"
                type="Crealevant\Bundle\Block\Sales\Order\Items\Renderer"/>
</config>