<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BusinessFactory_RoiHunterEasy::roi_hunter_easy"
             title="ROI Hunter Easy"
             module="BusinessFactory_RoiHunterEasy"
             sortOrder="900"
             resource="BusinessFactory_RoiHunterEasy::roi_hunter_easy"
             action="roi_hunter_easy_admin_backend/Index/Index"
        />

        <!--<add id="DynamicAds::second_level_example"-->
             <!--title="Dynamic Ads Submenu"-->
             <!--module="BusinessFactory_DynamicAds"-->
             <!--sortOrder="9999"-->
             <!--resource="Magento_Backend::content"-->
             <!--parent="DynamicAds::top_level_example"-->
        <!--/>-->

        <!--<add id="DynamicAds::third_level_example"-->
             <!--title="Dynamic Ads"-->
             <!--module="BusinessFactory_DynamicAds"-->
             <!--sortOrder="9999"-->
             <!--resource="Magento_Backend::content"-->

             <!--parent="DynamicAds::second_level_example"-->
             <!--action="dynamic_ads_admin_backend/index/index"-->
        <!--/>-->
    </menu>
</config>