<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Crealevant_Base::crealevant_base" title="Crealevant Base" translate="title" sortOrder="130"/>
            </resource>
        </resources>
    </acl>
</config>
