<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="crealevant_clean_varnish_cache_product_save_after"
                  instance="Crealevant\CleanVarnishCache\Observer\ProductSaveAfter"/>
    </event>
    <event name="cms_page_save_after">
        <observer name="crealevant_clean_varnish_cache_cms_page_save_after"
                  instance="Crealevant\CleanVarnishCache\Observer\PageSaveAfter"/>
    </event>
</config>