<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="varnish_cache" id="varnish_cache">
            <module before="Magento_Backend" name="Crealevant_CleanVarnishCache"/>
        </route>
    </router>
</config>